body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  background-color: #fff;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 128px 0 0 0;
  border: 0;
}

.block{
  display: block;
}

.main-text {
  padding: 5px 30px 5px 30px;
}
h1 {
  padding: 0;
  margin: 50px;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}
